HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Path ###
/core/core-api/src/main/resources/application-prod.yml
/core/core-api/src/main/resources/client-auth-prod.yml
/core/core-api/src/main/resources/db-core-prod.yml
/core/core-api/src/main/resources/db-redis-prod.yml
/core/core-api/src/main/resources/mail-prod.yml
/core/core-api/src/main/resources/firebase/
/core/core-api/src/main/resources/static/
/core/core-api/src/main/resources/templates/
/core/core-api/src/main/resources/application-local.yml
/core/core-api/src/main/resources/firebase-key.json
/batch/src/main/resources/application-local.yml




### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
