<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ASYNC_AWS_LOGS" class="ca.pjer.logback.AwsLogsAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <layout>
            <pattern>%d{yyyyMMdd'T'HHmmss} %thread %level %logger{15} %msg%n</pattern>
        </layout>
        <if condition='property("spring.profiles.active").contains("local")'>
            <then>
                <logGroupName>KPOP-API-local</logGroupName>
            </then>
        </if>
        <logStreamUuidPrefix>error-</logStreamUuidPrefix>
        <logRegion>ap-northeast-2</logRegion>
        <maxBatchLogEvents>50</maxBatchLogEvents>
        <maxFlushTimeMillis>30000</maxFlushTimeMillis>
        <maxBlockTimeMillis>5000</maxBlockTimeMillis>
        <retentionTimeDays>0</retentionTimeDays>
    </appender>

<!--    <springProfile name="local">-->
<!--        <logger name="org.springframework" level="INFO" />-->
<!--        <logger name="cmc.mellyserver" level="INFO"/>-->
        <root level="INFO">
            <appender-ref ref="ASYNC_AWS_LOGS" />
        </root>
<!--    </springProfile>-->

</configuration>