files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            killall java
            java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8081 -jar -Dserver.tomcat.accesslog.enabled=true -Dserver.tomcat.basedir=/home/ec2-user -Dspring.profiles.active=prod $JAR_PATH > /home/ec2-user/nohup.out 2>&1 --logging.file.path=/home/ec2-user/ &