files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/application.jar

            # run app
            killall java
            java -jar -Dspring.profiles.active=prod $JAR_PATH > /home/ec2-user/nohup.out 2>&1