files:
    "/sbin/appstart" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            #!/usr/bin/env bash
            JAR_PATH=/var/app/current/mellyServer-0.0.1-SNAPSHOT.jar

            # run app
            killall java
            java -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:8081 -jar -Dserver.tomcat.accesslog.enabled=true -Dserver.tomcat.basedir=/home/ubuntu -Dspring.config.location=/home/ubuntu/melly/src/main/resources/application.yml $JAR_PATH > /home/ubuntu/nohup.out 2>&1 --logging.file.path=/home/ubuntu/ &